.settings/org.codehaus.groovy.eclipse.preferences.prefs
target/
/classes/
web-app/WEB-INF/classes/
/test/reports/
/projectFilesBackup/
stacktrace.log 
*.idea
*.iws
*.ipr
*.iml
/plugins/
/.settings/
.DS_Store
.classpath
.project
/src/
out/
prodDb* 
stacktrace.log
c.tld
fmt.tld
*.zip
plugin.xml
